/*CSSリセット*/
li {
    list-style: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

code {
    background-color: #F2F1F1;
}

button:hover {
    cursor: pointer;
}

/*広告欄*/
.advertise {
    height: 3.5rem;
    background-color: orange;
}


.communities {
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #E8F3FD;
    color: #0085F2;
    border-left: 2px solid #078BF3;
    border-radius: 5px;
    margin: 2em 15rem;
    vertical-align: middle; 
}

.communities a {
    text-decoration: none;
    color: #0069C2;
}

.communities a::before {
    content: "ℹ️";
    margin: 0 1rem;
}

/*headerのスタイル*/
header {
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
}

header a {
    text-decoration: none;
    color: black;
}

.header-contens {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 15rem;
}

/*header上部*/
.header-upper {
    display: flex;
    height: 4rem;
}

/*header上部の左側*/
.header-left {
    display: flex;
    height: 3rem;
    margin: auto 0;
}

/*header-icon*/
.header-icon {
    height: 100%;
    display: flex;
}

.header-icon > img {
    width: 10rem;
    margin: auto 0;
}

/*header-menu*/
.header-menu {
    height: 100%;
    padding: 0;
}

.header-menu > ul {
    display: flex;
    height: 100%;
}

.header-menu  ul  li {
    display: flex;
    border-radius: 5px;
}

.header-menu ul a {
    display: flex;
    vertical-align: middle;
}

.pulldown {
    position: relative;
}

.point {
    margin: auto 1rem;
}

.pulldown:hover {
    background-color: #FFDBE0;
}

.pulldown-list {
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 19rem;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 0.5rem;
}

.pulldown-list li:hover {
    background-color: #F9F9FB;
}

.pulldown:hover .pulldown-list{
    top:100%;
    visibility: visible;
}

.pulldown-list h3 {
    font-size: 0.7rem;
    margin: 0.3rem 0;
}

.pulldown-list p{
    font-size: 0.7rem;
}
.item {
    padding: 1rem;
    width: 100%;
}

/*ドロップダウン内部アイテムの左bourder*/

.red-border {
    border-left: red 0.2rem  solid;
    padding: 0 1rem;
}

.blue-border {
    border-left: blue 0.2rem solid;
    padding: 0 1rem;
}


.brown-border {
    border-left: #AFA100 0.2rem solid;
    padding: 0 1rem;
}

.green-border {
    border-left: green 0.2rem solid;
    padding: 0 1rem;
}

.purple-border {
    border-left: purple 0.2rem solid;
    padding: 0 1rem;
}

.gree-border {
    border-left: gray 0.2rem solid;
    padding: 0 1rem;
}

/*header上部の右側*/
.header-right {
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    margin: auto 0 auto auto;
}

.header-right > ul {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: auto;
}

.header-right > ul > li {
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}




.theme-serect {
    position: relative;
}


.theme-serect::before {
    content: "🌗";
}


.theme-serect-list {
    position: absolute;
    top: 2rem;
    visibility: hidden;
    background-color: #F9F9FB;
    border: #CDCDCD 1px solid;
    padding: 0.5rem;
    width: 10rem;
}


.theme-serect-list li {
    padding: 0.5rem 1rem;
}

.theme-serect-list li:hover {
    background-color: #696969;
}


.theme-serect:active .theme-serect-list  {
    visibility: visible;
}

.OSdefault::before {
    content: "🌗";
}

.light::before {
    content: "☀️";
}

.dark::before {
    content: "🌙";
}

search {
    position: relative;
    justify-content: end;
}

.search-window {
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
    border: #B8B8B8 1px solid;
    font-size: 1rem;
    padding: 1rem;
}

search form:focus-within .search-window {
    width: 15rem;
}



.search-window::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: #0069C2;
}


.search-button {
    position: absolute;   
    right: 0.5rem;
    top: 0.4rem;
    height: 1.2rem;
}

.cansel {
    position: absolute;
    right: 2rem;
    top: 0.4rem;
    height: 1.2rem;
    visibility: hidden;
}

search form:focus-within .cansel {
    visibility: visible;
}

.cansel:hover{
    cursor: pointer;
}


.login {
    font-size: 0.8rem;
    font-weight: bold;
}

.sign-up {
    background-color: black;
    margin: 0 1rem;
    border-radius: 5px;
}

.sign-up div {
    text-align: center;
    margin: 0 1.2rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.sign-up a {
    color: white;
}

/*header部ナビバー*/
nav {
    background-color: #F9F9FB;
    height: 2rem;
    border: #CDCDCD 1px solid;
    display: flex;
    align-items: center;
}

.nav-contents {
    display: flex;
    width: 100%;
    padding: 0 15rem;
}

.breadcrumb {
    display: flex;
}

.breadcrumb ul {
    display: flex;
}


.breadcrumb li:not(:last-child)::after {
    content: ">";
    margin: 0 0.5rem;
}

.lang-serect {
    margin: 0 0 0 auto;
    position: relative;
}

.lang-serect > p::before {
    content: "🌏";
}

.lang-serect  p {
    padding: 0;
}


.lang-menu {
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 13.5rem;
    border: black 1px solid;
    border-radius: 4px;
    background-color: #F9F9FB;
}

.lang-serect:hover .lang-menu {
    visibility: visible;
}


.lang-menu div {
    border-bottom: black 1px solid;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.lang-menu p {
    display: flex;
}


#toggle {
    display: none;
}

.remember-lang {
    border: black 1px solid;
    padding: 0 1.2rem;
    display: block;
    border-radius: 1rem;
    position: relative;
    background-color: #4E4E4E;
    height: 1.1rem;
    transition: background-color 0.4s;
}

.remember-lang::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0;
    border: black 1px solid;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: left 0.4s;
}

#toggle:checked + .remember-lang {
    background-color: #0069C2;
}

#toggle:checked + .remember-lang::before {
    left: 1.2rem;
}



.lang-menu div p {
    padding: 6px;
}


.questionnaire button {
    margin: 0 6px;
    border: none;
    border-radius: 1rem;
    font-size: 0.5rem;
}


.yes-button::before {
    content: "👍";
}

.yes-button:hover {
    background-color: green;
}


.no-button::before {
    content: "👎";
}

.no-button:hover {
    background-color: red;
}

.lang-menu ul {
    padding: 0.1rem 0.5rem 0.5rem 0.5rem;
}

.lang-menu li {
    padding: 1em;
    font-size: 0.8rem;
}

.lang-menu li:hover {
    background-color: #CDCDCD;
}

/*本文*/
.mainpart {
    display: flex;
    justify-content: center;
    padding: 0 13%;
}


/*サイドバー*/
.sidebar-left {
    width: 20%;
}

.sticky {
    position: sticky;
    top: 6.5rem;
    overflow-y: scroll;
}

.filter {
    margin: 1rem 0;
    position: relative;
}

.filter label {
    cursor: pointer;
}

#filter {
    appearance: none;
}

#filter:checked + .filter-window {
    width: 15rem;
}

.filter-window {
    width: 5rem;
    height: 2rem;
    border: #C4C4C4 1px solid;
    border-radius: 1rem;
    padding: 0 0 0 1.5rem;
}


.filter-window::placeholder {
    padding-left: 0.3rem;
}

.filter-window:focus {
    width: 15rem;
    border: red 2px solid;
}

.filter img {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}



.sidebar-left-content {
    position: sticky;
    top: 2.5rem;
    overflow: scroll;
    max-height: 52rem;
    font-size: 0.8rem;
}

.sidebar-left-content a {
    color: black;
    text-decoration: none;
}

.sidebar-left-content a:hover {
    text-decoration: underline;
}


.sidebar-left-content summary {
    margin: 0.8rem 0;
}

.sidebar-left-content summary:hover {
    cursor: pointer;
}


.redpaint {
    background-color: #FFDBE0;
    border-left: #D30038 2px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.7rem 0 0.7rem 1rem;
    margin: 2rem 11rem 1rem 0;
    font-size: 0.9rem;
    font-weight: 600;
}


.sidebar-left-references {
    margin-top: 2rem;
}

.sidebar-left-references h2 {
    font-size: 1rem;
    margin-left: 0.5rem;
}

details li {
    padding-left: 1rem;
    margin: 1rem 0;
}



/*sidebar-right*/

.sidebar-right {
    order: 2;
    width: 20%;
}

.sidebar-right a {
    text-decoration: none;
    color: black;
}

.sidebar-right h2 {
    font-weight: normal;
    font-size: 1.2rem;
    padding: 2.5rem 0 1rem 0;
    margin: -2rem 0 0 0;
}

.sidebar-right ol {
    border-left: gray 2px solid;
}

.sidebar-right li {
    font-size: 0.8rem;
}

.sidebar-right li:hover {
    color: #0085F2;
}


/*本文のところ*/

.main {
    order: 1;
    width: 60%;
    margin: 0 5%;
}

.main a {
    color: #5E9DD6;
}

.main h1 {
    font-size: 2.3rem;
}

.main h2 {
    font-size: 2rem;
    font-weight: lighter;
}

.main h3 {
    font-weight: lighter;
}

.main h4 {
    font-weight: lighter;
    padding-left: 2em;
}

.main p {
    margin: 2rem 0;
}



/*ページ内リンクでジャンプ先のheader分の調整のため*/
.anchor {
    padding-top: 6rem;
    margin-top: -6rem;
    color: black;
}


.anchor a {
    text-decoration: none;
    color: black;
    position: relative;
}

.anchor a:hover {
    text-decoration: underline;
}

.anchor a:hover::before {
    content: "#";
    color: #696969;
    font-size: 0.6em;
    position: absolute;
    left: -0.7em;
    top: 0.4em;
}

.outline a {
    padding: 0.8rem 1rem;
    display: block;
}






/*help improve MDNのところ*/
.help {
    border: 1px solid black;
    border-radius: 10px;
    background: no-repeat top right url(help.png), #F9F9FB;
    margin: 3rem 0;
}

.help h1 {
    margin: 1rem;
    font-weight: 599;
}
.help p {
    margin: 0 1rem;
}

.help a {
    color: #0069C2;
    text-decoration: none;
}

.button-list {
    padding: 1rem;
}

.help button {
    height: 2rem;
    width: 5rem;
    border-radius: 0.3rem;
    border: black 1px solid;
}

.help .message {
    margin: 3rem 0 1rem 0;
}








/*footer*/
footer {
    padding: 0 13%;
    color: #4E4E4E;
    border-top: 1px solid #4E4E4E;
}

footer p {
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: #525252;
}



/*footer-upper*/
.upper-footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.upper-footer  .links {
    width: 30%;
    margin: 0 auto 0 0;
}

.logoes {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.logoes > a {
    width: 20px;
    margin: 0 auto 0 0;
}

.logoes > a > img {
    width: 100%;
}

.links  h2 {
    margin: 0;
    font-size: 20px;
}

.links p {
    font-size: 15px;
}

.contents {
    margin: 0 5px;
    width: 250px;
}

.contents p {
    margin: 0 0 12px 0;
}

.contents h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 15px 0;
}



/*footer-footer*/

.upper {
    display: flex;
    height: 70px;
}

.mozilla-logo {
    margin: auto 0;
}

.mozilla-logo  a  img {
    width: 120px;
}

.footer-footer > .upper > .links {
    margin: auto 10px;
    font-size: 10px;
}

.footer-footer > .upper > .links > a {
    margin: 5px;
}

.footer-footer a {
    text-decoration: underline;
}

.footer-footer .message {
    margin: 2rem 0;
    font-size: 10px;
}